<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include loader.html %}


    <main id="sb-site">

        <div class="container" style="padding-top:15px;">

            <center>
              <a href="{{ site.baseurl }}/"><h1 class="text-center" style="color:#BBB;">{{ site.title }}</h1></a>
              <p style="color:#DDD;"><em>«Encore des mots, toujours des mots»</em> - Dalida.</p>
            </center>



            <div class="wrapper">

                {{ content }}
            </div>

            {% include pagination.html %}

            {% include next.html %}

        </div>

    </main>

    {% include sidebar.html %}

    {% include js.html %}

</body>

</html>
